/* Define variables for common values */
:root {
    --background-image: url('background.jpeg');
    --text-color: beige;
    --blur-value: 10px;
  }
  
  /* Apply styles to the body element */
  body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /* Use a more specific class name and add a comment for clarity */
  .blur-background {
    /* Use both filter and -webkit-filter for better browser compatibility */
    filter: blur(var(--blur-value));
    -webkit-filter: blur(var(--blur-value));
  }
  
  /* Use a more specific selector for h1 */
  body > h1 {
    color: rgb(69, 50, 10);
    font-weight: bold;
  }
  
  /* Use a more specific selector for p */
  body > p {
    color: var(--text-color);
    background-color: rgb(40, 32, 22); opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }

  